//- Basic template for createLab and createClass
extends ./layout.jade
block append link
	link(href='sb-admin.css', rel='stylesheet')
block append script
	script(src="jquery.redirect.js")
	script(src="home.js")
	script(src="classroom.js")
	script(src="roster.js")
	script(src="student.js")
block prepend bodyLink
	body
block content
	div(id='page-wrapper', class="pageContainer")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-12")
					h1(class="page-header") Create #[small Begin making your own seating chart]
					ol(class="breadcrumb")
						li
							i(class="fa fa-dashboard")
							a(href="/index")  Dashboard
						li(class="active")
							i(class="fa fa-edit")
							|  Create
					p(class="lead") Press "Choose File" to upload a roster (.csv)
					p(class="lead") Enter dimensions for the classroom
			div(class="row")
				div(class="col-md-offset-3 col-lg-6 errorMessage")
			div(class="row")
				block formInputs
					form(class="form", name="dimensions")
		block inputScripts
			script.
				$('#className, #heightInsert, #widthInsert').keyup(function(){
					if (!$('#className').val() && !$('#heightInsert').val() && !$('#widthInsert').val()) {
						$('.existingClass').attr('disabled', false)
					}
					else {
						$('.existingClass').attr('disabled',true)
						newClass = true;
					}
				});

				$('#heightInsert, #widthInsert').change(function() {
					if (!$('#className').val() && !$('#heightInsert').val() && !$('#widthInsert').val()) {
						$('.existingClass').attr('disabled', false)
					}
					else {
						$('.existingClass').attr('disabled',true)
					}
				});

				$('.existingClass').change(function(){
					if($(this).val() != 0) {
						$('#className').attr('disabled', true)
						$('#heightInsert').attr('disabled', true)
						$('#widthInsert').attr('disabled', true)
						$('#perStationInsert').attr('disabled', true)
						var tempParse = JSON.parse($(this).val())
						classroomSize = tempParse.totalSeats * tempParse.numPerStation
						newClass = false;
					}
					else {
						$('#className').attr('disabled', false)
						$('#heightInsert').attr('disabled', false)
						$('#widthInsert').attr('disabled', false)
						$('#perStationInsert').attr('disabled', false)
					}
				});

				$('#fileInsert').change(function(){
					if($(this).val() != "") {
						$('.existingRoster').attr('disabled', true)
						newRoster = true;
					}
					else {
						$('.existingRoster').attr('disabled', false)
					} 
				});

				$('.existingRoster').change(function(){
					if($(this).val() != 0) {
						$('#fileInsert').attr('disabled', true)
						total_students = JSON.parse($(this).val()).totalStudents
						console.log(total_students)
						newRoster = false;
					}
					else {
						$('#fileInsert').attr('disabled', false)
					} 
				});
				$('.submitForm').click(function(){
					checkRosterAndClass($('.classType').val())
				})