extends ./layout.jade
block append link
	link(href='sb-admin.css', rel='stylesheet')
block append script
	script(src="classroom.js")
	script(src="readFile.js")
	script(src="student.js")

	script(src="test.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
block prepend bodyLink
	body(onload="test()")
block labActive
	li(class="active")
		a(href="/createLab")
			i(class="glyphicon glyphicon-console")
			|  Create Lab
block content
	div(id='page-wrapper', class="pageContainer")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-12")
					h1(class="page-header") Create #[small Begin making your own seating chart for a lab]
					ol(class="breadcrumb")
						li
							i(class="fa fa-dashboard")
							a(href="/index")  Dashboard
						li(class="active")
							i(class="glyphicon glyphicon-console")
							|  Create Lab
					p(class="lead") Press "Choose File" to upload a roster (.csv)
					p(class="lead") Enter dimensions for the lab room
			div(class="row")
				div(class="col-md-offset-3 col-lg-6 errorMessage")
			div(class="row")
				form(class="form", name="dimensions", action="/student", method="post", onsubmit="return validateForm($('.classType').val())")
					div(class="row")
						div(class="col-lg-6")
							div(class="form-group classroomName")
								label(for="className") Lab room Name
								input(type="text", class="form-control", name="className", id="className")
							div(class="col-lg-3 form-group classHeight")
								label(for="heightInsert") Height
								input(type="number", class="form-control", name="height", id="heightInsert", placeholder="10")
							div(class="col-lg-3 form-group")
								label(for="widthInsert") Width
								input(type="number", class="form-control", name="width", id="widthInsert", placeholder="12")
							div(class="col-lg-6 form-group")
								label(for="perStationInsert") Number of people per station
								input(type="number", class="form-control", name="numPerStation", id="perStationInsert", value="2")
							div(class="form-group")
								label(for="classSeed") Seed (Used to generate a random yet repeatable seating chart) [Optional]
								input(type="number", class="form-control", name="seed", id="seedInsert")
						div(class="col-lg-6")
							div(class="form-group")
								label Existing lab rooms
								select(multiple class="form-control existingClass", name="className")
									option(selected="selected" id="op0" value='0') --Select--
									option(id="op1" value='1') CSE B260
									option(id="op2" value='2') CSE B250
									option(id="op3" value='3') CSE B240
					div(class="row")
						div(class="col-lg-6")
							div(class="form-group")
								label(for="fileInsert") File Input
								input(type="file", accept=".csv", id="fileInsert", name="fileInput", onchange="readUpload()")
						div(class="col-lg-6")
							div(class="form-group")
								label Existing rosters
								select(multiple class="form-control existingRoster", name="fileInput")
									option(selected="selected" id="r0", value='0') --Select--
									option(id="r1" value='1') CSE 15L W14 Section 002
									option(id="r2" value='2') CSE 12 W14 Section 001
					input(type="hidden", name="students", id="students", value="")
					input(type="hidden", name="totalStudents", id="totalStudents", value="")
					input(type="hidden", name="totalGhosts", value = "0")
					input(type="hidden", class="classType", name="classType", value="lab")
					div(class="col-md-offset-5                      ")
						button(type="submit", class="btn btn-default submitForm") Submit
				script.
					$('#className, #heightInsert, #widthInsert').keyup(function(){
						if (!$('#className').val() && !$('#heightInsert').val() && !$('#widthInsert').val()) {
							$('.existingClass').attr('disabled', false)
						}
						else {
							$('.existingClass').attr('disabled',true)
						}
					});
					$('#heightInsert, #widthInsert').change(function() {
						if (!$('#className').val() && !$('#heightInsert').val() && !$('#widthInsert').val()) {
							$('.existingClass').attr('disabled', false)
						}
						else {
							$('.existingClass').attr('disabled',true)
						}
					})
					$('.existingClass').change(function(){
						if($(this).val() != 0) {
							$('#className').attr('disabled', true)
							$('#heightInsert').attr('disabled', true)
							$('#widthInsert').attr('disabled', true)
						}
						else {
							$('#className').attr('disabled', false)
							$('#heightInsert').attr('disabled', false)
							$('#widthInsert').attr('disabled', false)
						}
					})
					$('#fileInsert').change(function(){
						if($(this).val() != "") {
							$('.existingRoster').attr('disabled', true)
						}
						else {
							$('.existingRoster').attr('disabled', false)
						} 
					})
					$('.existingRoster').change(function(){
						if($(this).val() != 0) {
							$('#fileInsert').attr('disabled', true)
						}
						else {
							$('#fileInsert').attr('disabled', false)
						} 
					})
					$('.submitForm').click(function() {
						//- sessionStorage.setItem('all_students', JSON.stringify(all_students));
						$('#students').val(JSON.stringify(all_students));
						$('#totalStudents').val(total_students)
						console.log(all_students)
						console.log(total_students)
					})