extends ./create.jade
block createActive
	li(class="active")
		a(href="/create")
			i(class="fa fa-fw fa-edit")
			|  Create Class

block name
	label(for="className") Classroom Name

block numPerSeatBlock

block heightBlock
	div(class="col-lg-6 form-group")
		label(for="heightInsert") Height
		input(type="number", class="form-control", name="height", id="heightInsert", placeholder="10")

block widthBlock
	div(class="col-lg-6 form-group")
		label(for="widthInsert") Width
		input(type="number", class="form-control", name="width", id="widthInsert", placeholder="12")

block existingRooms
	div(class="col-lg-6")
		div(class="form-group")
			label Existing classrooms
			select(class="form-control existingClass", name="className")
				option(selected="selected" id="op0" value='0') --Select--
				- for classroom in JSON.parse(classrooms)
					- var classVal = JSON.stringify(classroom)
					option(value="#{classVal}")=classroom.className + " (" + classroom.totalSeats + " seats)"
			
block inputHidden
	input(type="hidden", class="classType", name="classType", value="classroom")

