extends ./layout.jade
block append link
	link(href='sb-admin.css', rel='stylesheet')
block prepend bodyLink
	body
block indexActive
	li(class="active")
		a(href="/index")
			i(class="fa fa-dashboard")
			|  Home
block content
	div(id='page-wrapper', class="pageContainer", style="height:100%;")
		div(class="container-fluid")
			//- Page heading
			div(class="row")
				div(class="col-lg-12")
					h1(class="page-header") Home #[small How this works]
					ol(class="breadcrumb")
						li(class="active")
							i(class="fa fa-dashboard")
							|  Dashboard
			div(class="jumbotron")
				h1 Create your own seating chart!
				p Upload your roster, mark a student as left handed, design the classroom, and email the students their seats.
				p Download the seating chart to a pdf in multiple formats!
				p
					a(href="/create", class="btn btn-primary btn-lg", role="button") Create &raquo;