extends ./layout.jade
block append link
		link(href='main.css', rel='stylesheet')
block content
	div#header
		h1 Press "Choose File" and Select a file to print contents
	div#outerContainer
		div#formContainer
			div#formContainer
				script(src="classroom.js")
				form(name="dimensions",action="/classroom", method="get")
					div(class="form-group")
						label(for="heightInsert") Height
						input(type="number", class="form-control", name="height", id="heightInsert", placeholder="10")
					div(class="form-group")
						label(for="widthInsert") Width
						input(type="number", class="form-control", name="width", id="widthInsert", placeholder="12")
					div(class="form-group")
						label(for="fileInsert") File Input
						input(type="file", id="fileInsert", onchange="readUpload()")
					button(type="submit", class="btn btn-default", onclick="readForm(this.form)") Submit
	div#fileContainer
		div#fileInfo
			script(src="readFile.js")
	div#outputField
		h3 Contents
		output#output