//- Standard layout for every html page excluding the index page

extends ./headlayout.jade
block append link
	link(href='css/sb-admin.css', rel='stylesheet')
block title 
	title Create Seating Chart
block bodyLink
	body
		block bodyHTML
			div(id="wrapper")
				nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
					div(class="navbar-header page-scroll")
						button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
							span(class="sr-only") Toggle Navigation
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
						a(class="navbar-brand" href="/") Generate Your Own Seating Chart</a>
					div(class="collapse navbar-collapse navbar-ex1-collapse", id="#bs-example-navbar-collapse-1")
						ul(class="nav navbar-nav side-nav")
							block indexActive
								li
									a(href="/index")
										i(class="fa fa-fw fa-dashboard")
										|  Home
							block createActive
								li
									a(href="/create")
										i(class="fa fa-fw fa-edit")
										|  Create Class
							block labActive
								li
									a(href="/createLab")
										i(class="glyphicon glyphicon-console") 
										|  Create Lab
				block content
					div(id="page-wrapper")