extends ./layout.jade
block append link
	link(href="../seatingChart.css", rel="stylesheet")
block append script
	script(src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js")
	script(src="../jquery.redirect.js")
	script(src="../student.js")
	script(src="../seat.js")
	script(src="../finalClassroom.js")
	script(src="../pdfCreator.js")
	script(src="../email.js")
block content
	body(onload="loadGrid()")
		div.pageContainer
			div.headingContainer.outerDivs
				h1 Seating Chart for #{className}
			div.pop-up
				span(class="ex") x
				div.pop-up-text
					h1 Choose how to format pdf
					form(class="form-horizontal rosterFileName")
						div(class="form-group")
							label(for="rosterName" class="col-sm-2 control-label") PDF Name
							input(type="text", class="form-control", id="rosterName", placeholder="CSE100Quiz5SeatingChart", style="width: 200px;")
						div(class="form-group")
							label(for="pdfTitle" class="col-sm-2 control-label") PDF Title
							input(type="text", class="form-control", id="pdfTitle", placeholder="Pepper Canyon 106 - Quiz 5 Thursday, June 4th -5pm", style="width: 400px;")
					div.radio
						label
							input(type="radio", name="format", id="row", class="format", value="RowSorted", checked) 
							|By row
					div.radio
						label
							input(type="radio", name="format", id="column", class="format", value="ColumnSorted")
							|By column
					div.radio
						label
							input(type="radio", name="format", id="sorted", class="format", value="NameSorted") 
							|Sorted order
					a(class="btn btn-default", id="downloadRoster", role="button") Download
					a(class="btn btn-default", id="emailRoster", role="button") Email Students
					//- a(class="btn btn-default", id="downloadRoster", role="button", href="roster.pdf" download="#{roster}+seatingChart") Download
				script.
					$("input[type='radio']").on('change', function() {
						$("input[type='radio']").not(this).prop('checked', false);
					})
					$('#downloadRoster').click(function() {
						generatePDF($("input[type='radio']:checked").val(), $('#rosterName').val(), $('#pdfTitle').val())
					})
					$('#emailRoster').click(function() {
						emailRoster("Sample")
					})
			div.finalGridContainer.outerDivs
			div.bottomContainer
				div.downloadMessage
					p Click below to download PDF version of the classroom
				div.downloadButton
					button(class="btn btn-default pop-up-button") Download
					script.
						$('.blurPage').hide(0);
						$('.pop-up').hide(0);
						$('.pop-up-button').click(function(){
							$('blurPage').show(0);
							$('.pop-up').fadeIn(300);
							$('.pop-up-button').hide(0);
						});
						$('.pop-up .ex').click(function() {
							$('.blurPage').hide(0);
							$('.pop-up').hide(0);
							$('.pop-up-button').show(0);
						});