div input {
	margin-bottom: 10px;
}

#manualRosterClick, #manualRosterClose {
	cursor: pointer;
}

.manualRosterInputBox {
	display: none;
}

.columnInfo {
}

.index {
	text-align: center;
	width: 100px;
}