h1, h3 {
	font-family: 'Raleway', sans-serif
}

div {
	margin-bottom: 10px;
}

#fileInfo {
	border-width: thin;
	border-radius: 10px;
	border-style: dashed;
	border-color: black;
	background-color: white;
	text-align: left;
}

ul {
	text-align: left;
}

ol {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px
}