.finalGridContainer {
  text-align: center;
}

/* pop-up text */
.grid--item .objectInfo {
  margin-bottom: 5px;
  color:#666;
  position:absolute;
  bottom:0;
  left:-65px;
  right:-65px;
  padding:5px 7px;
  z-index:-1;
  font-size:12px;
  font-family: 'Raleway', sans-serif;
  border-radius:5px;
  background:#fff;
  visibility:hidden;
  width: 200px;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */
.grid--item .objectInfo:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:85px;
}

/* text pops up when icon is in hover state */
.grid--item:hover .objectInfo {
  bottom:50px;
  visibility:visible;
  z-index: 1;
}


/* Pop up */
.pop-up-button:hover{
  background:#dfdfdf;
}

.pop-up {
  margin-left: 45%;
  height: 370px;
  width:50%;
  margin: auto;
  background:#fff;
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index:1;
  border-radius:10px;
  color: black;
}

.ex {
  border-radius:0 0 30px 30px;
  margin-left:97%;
  background:#000;
  color:#fff;
  font-size:20px;
  height:10px;
  padding:0 5px;
  cursor:pointer;
}
.pop-up-text {
  box-sizing:border-box;
  padding:20px;
  background: white;
  text-align: center;
}

.radio {
  text-align: left;
  margin-left: 45%;
}

.rosterFileName {
  margin-left: 30%;
}

#rosterName{
  width: 200px;
}
#pdfTitle {
  width: 300px;
}

#downloadRoster, #emailRoster {
  margin-left: 5px;
}