/*div {
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: absolute;
	border-radius: 10px;
	text-align: center;
	height: 100px;
	width: 300px;
}

.success{
	background-color: #76FF03;
}

.error {
	background-color: #F44336;
}
.links {
	margin-top: 15%;
	position: absolute;
	margin-left: 48%;
}
h3, p {
	margin-top: 35px;
}*/