body {
	font-family: 'Raleway', sans-serif
}

#grid {
	width: 70%;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	position: relative;
	margin: auto;
	padding-bottom: 13%;
}

.square {
    float:left;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 7%;
    padding-bottom : 7%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain; /* you change this to "contain" if you don't want the images to be cropped */
	background-image: url("https://cdn3.iconfinder.com/data/icons/school-solid-icons-vol-2/96/093-512.png");
}

.square:hover {
    background:#ECECEC;
    border:1px solid #fff;
}

.square:active {
	background-color: #FFA000;
}



/*  following just for the demo */


body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: black;
    text-align:center;
    background:#ECECEC;
}

#bottom {
    clear:both;
    margin:0 1.66%;
    width:89.68%;
    padding: 3.5%;
    background-color:#1E1E1E;
    color: #fff;
}
#bottom p{
    text-align:center;
    line-height:2em;
}
#bottom a{
    color: #000;
    text-decoration:none;
    border:1px solid #000;
    padding:10px 20px 12px;
    line-height:70px;
    background:#ccc;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#bottom a:hover{
    background:#ECECEC;
    border:1px solid #fff;
}