h1, h3 {
	font-family: 'Raleway', sans-serif
}

div input {
	margin-bottom: 10px;
}

#outerContainer {
	margin-top: 10px;
}

#header {
	width: 100%;
	height: 100px;
	text-align: center;
}

h1 {
	padding-top: 30px;
	color: white;
}

#fileInfo {
	border-width: thin;
	border-radius: 10px;
	border-style: dashed;
	border-color: black;
	background-color: white;
	text-align: left;
}

ul {
	text-align: left;
	margin-top: 10px;
}

ol {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px
}

.form-group, button {
	margin-left: 10px;
	width: 100px;
}